.simple-ship-icon {
  background: transparent;
  border: none;
}

.simple-ship-marker {
  width: 0;
  height: 0;

  /* triangle using borders */
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid var(--ship-color);

  transform-origin: center center;
}
